{% extends 'base.html' %}
{% load static %}
{% load cloudinary %} 

{% block content %}
<div class="container grid place-items-start mx-auto">
    <div>
        <h2 class="text-2xl sm:text-3xl md:text-5xl font-bold text-secondary-200 mb-5 px-8">{{category | title}}</h2>
        <section class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 sm:gap-2 gap-5 min-h-screen min-w-screen">
            <!-- Card -->
            {% for image in images %}
            <div class="flex flex-col max-w-md bg-secondary-300 px-8 py-6 rounded-xl space-y-5 items-center hover:shadow-lg">
                <a href="{% url 'details' image.pk %}"><img class="w-full h-full sm:h-full object-cover rounded-md" src="{{image.image.url}}" alt="motivation" /></a>
                <span class="text-left">{{ image.image_name }}</span>
                <!--  -->
            </div>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}